{% extends "tic_tac_toe/game_base.html" %}

{% block h2_msg %}
<h2>Good Game, {{ user }}!</h2>
{% endblock %}

{% block extra_pre_board %}
{# Here we tell the user game outcome #}
{% if outcome == 'lost' %}
<h3>Sorry that you're a big looser ;-)</h3>
{% endif %}
{% if outcome == 'won' %}
<h3>Congratulations You WIN!</h3>
{% endif %}
{% if outcome == 'cats' %}
<h3>This one is for the cats ...</h3>
{% endif %}
{% endblock %}

{% block pre_footer %}
{% if outcome == 'cats' %}
<img src="/site_media/images/catsgame.jpg" />
{% endif %}
{% endblock %}
