<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="_Loose or tie a game of tic tac toe_" />
<meta name="keywords" content="_tic_tac_toe_" />
<meta name="author" content="Matt Davis" />

<link rel="stylesheet" type="text/css" href="/site_media/css/default.css" media="screen" title="TicTacToe"/>

<title>Tic-Tac-Toe</title>

{% block extra_head %} {% endblock %}

</head>
<body>

<div id="content">
{% block contentHeader %} {% endblock %}
{% block content %}{% endblock %}
</div>

<div id="footer">
<br /><br />Copyright &copy; 2010.
</div>

</body>
</html>
